/.CFUserTextEncoding
/.DS_Store
/.Trash
/.vscode
/.zsh_history
/.zsh_sessions
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/cgv_crawler.py
/cgv_reviews_2025_20250820_1705.csv
/cgv_reviews_2025_20250820_1705.json
/kakaotalk_crawler.py
/kakaotalk_reviews_2025_20250826_1035.csv
/kakaotalk_reviews_2025_20250826_1035.json
/megabox_crawler.py
/megabox_reviews_2025_20250821_1706.csv
/megabox_reviews_2025_20250821_1706.json